@{
    ViewData["Title"] = "Home Page";
}

@section Styles{
    <style>
        .complete {
            background-color: greenyellow;
            padding: 10px;
            border: 2px solid;
        }

        .remaining {
            background-color: bisque;
            padding: 10px;
            border: 2px solid;
        }
    </style>
}

<div class="float-right">
    <a href="#" onclick="GoTo('BOTTOM')">Go to bottom</a>
</div>

<br />
<br />

<div class="complete">
    <h4>Form Validation(Custom, Remote) Example</h4>
    <a asp-controller="Form" asp-action="FormValidation">Form Validation Example</a>
</div>

<hr />

<div class="complete">
    <h4>Form Submit And Fill Example</h4>
    <a asp-controller="Form" asp-action="Index">Form Submit And Fill Example</a>
</div>

<hr />

<div class="complete">
    <h4>Form Submit Without Reloading The Entire Page Using Jquery Ajax</h4>
    <a asp-controller="Form" asp-action="FormSubmitJqueryAjax">Form Submit Without Reloading The Entire Page Using Jquery Ajax</a>
</div>

<hr />

<div class="complete">
    <h4>Form Validation With Captcha Example</h4>
    <a asp-controller="Form" asp-action="FormValidationWithCaptcha">Form Validation With Captcha Example</a>
</div>

<hr />

<div class="remaining">
    <h4>Form With Dynamic Dropdown, Radio And Checkbox Button Example</h4>
    <a asp-controller="Form" asp-action="FormWithDynmcDdRbCb">Form With Dynamic Dropdown, Radio And Checkbox Button Example</a>
</div>

<hr />

<div class="complete">
    <h4>Validate Form Using JQuery Validator JS</h4>
    <a asp-controller="JavascriptJquery" asp-action="FormValidation">Validate Form Using JQuery Validator JS</a>
</div>

<hr />

<div class="complete">
    <h4>CRUD Using ADO.NET Example</h4>
    <a asp-controller="ADO" asp-action="Index">CRUD Using ADO.NET Example</a>
</div>

<hr />

<div class="complete">
    <h4>CRUD Using ADO.NET With Stored Procedure Example</h4>
    <a asp-controller="ADOSP" asp-action="Index">CRUD Using ADO.NET With Stored Procedure Example</a>
</div>

<hr />

<div class="complete">
    <h4>CRUD Using Entity Framework Core With Database First Approach And Repository Pattern Example</h4>
    <a asp-controller="EFCoreDbFirst" asp-action="Index">CRUD Entity Framework Core With Database First Approach Example</a>
</div>

<hr />

<div class="complete">
    <h4>CRUD Using Entity Framework Core With Database First Approach And Repository With Unit Of Work Pattern Example</h4>
    <a asp-controller="EFCoreDbFirst" asp-action="CrudRepoUow">CRUD Using Entity Framework Core With Database First Approach And Repository And Unit Of Work Pattern Example</a>
</div>

<hr />

<div class="complete">
    <h4>CRUD Using SP In EF Core With DB First Approach And Repository And Unit Of Work Pattern Example</h4>
    <a asp-controller="EFCoreDbFirst" asp-action="CrudSpRepoUow">CRUD Using SP In EF Core With DB First Approach And Repository And Unit Of Work Pattern Example</a>
</div>

<hr />

<div class="complete">
    <h4>CRUD Using EF Core With DB First Approach And Repository And Unit Of Work Pattern Part 2 Example</h4>
    <a asp-controller="EFCoreDbFirst" asp-action="CrudRepoUow2">CRUD Using EF Core With DB First Approach And Repository And Unit Of Work Pattern Part 2 Example</a>
</div>

<hr />

<div class="complete">
    <h4>Claims-based Authentication And Authorization Example</h4>
    <a asp-controller="ClaimBaseAuth" asp-action="Index">Claims-based Authentication And Authorization Example</a>
</div>

<hr />

<div class="complete">
    <h4>Send Mail By AWS-SES Example</h4>
    <a asp-controller="Mail" asp-action="Index">Send Mail By AWS-SES Example</a>
</div>

<hr />

<div class="complete">
    <h4>Hash & Salt Password In Register And Login Example</h4>
    <a asp-controller="RegisterLogin" asp-action="Register">Hash & Salt Password In Register And Login Example</a>
</div>

<hr />

<div>
    <h4>Searching Sorting Paging Using Jquery Datatable Example</h4>
    <a asp-controller="DataTable" asp-action="Index">Searching Sorting Paging Using Jquery Datatable Example</a>
</div>

<hr />

<div class="complete">
    <h4>Return URL Example</h4>
    <a asp-controller="ReturnUrl" asp-action="Home">Return URL Example</a>
</div>

<hr />

<div class="complete">
    <h4>Handlebar JS Example</h4>
    <a asp-controller="HandleBarJs" asp-action="Index">Handlebar JS Example</a>
</div>

<hr />

<div class="complete">
    <h4>Page Does Not Exist Example</h4>
    <a href="UnwantedPage/abcd">Page Does Not Exist Example</a>
</div>

<hr />

<div class="complete">
    <h4>List Add Update Delete Using Jquery/Javascript Example</h4>
    <a asp-controller="JavascriptJquery" asp-action="Index">List Add Update Delete Using Jquery/Javascript Example</a>
</div>

<hr />

<div class="complete">
    <h4>Insert Exception In Database By Query Example</h4>
    <a asp-controller="Home" asp-action="ExceptionGenerator">Insert Exception In Database By Query Example</a>
</div>

<hr />

<div>
    <h4>Password Reset With Email Notification Example</h4>
    <a asp-controller="PasswordReset" asp-action="Index">Password Reset With Email Notification Example</a>
</div>

<hr />

<div>
    <h4>Automatic Code Execution Example</h4>
    <a asp-controller="Automatic" asp-action="Index">Automatic Code Execution Example</a>
</div>

<hr />

<div>
    <h4>Xss Attack Solution Example</h4>
    <a asp-controller="MySecure" asp-action="Index">Xss Attack Solution Example</a>
</div>

<hr />

<div class="complete">
    <h4>CSRF Attack Solution Example</h4>
    <a asp-controller="MySecure" asp-action="CSRF">CSRF Attack Solution Example</a>
</div>

<hr />

<div class="complete">
    <h3>Call Dummy Rest API Using HttpClient Example</h3>
    <a asp-controller="CallApiViaHttpClient" asp-action="Index">Call Dummy Rest API Using HttpClient Example</a>
</div>

<hr />

<div>
    <h3>Linq Example</h3>
    <a asp-controller="LinqEx" asp-action="Index">Linq Example</a>
</div>

<hr />

<div class="complete">
    <h3>Solve CORS Issue Example</h3>
    <a asp-controller="CorsEx" asp-action="Index">Solve CORS Issue Example</a>
</div>

<hr />

<div class="complete">
    <h3>Display Friendly Error Message On Exception Example</h3>
    <a asp-controller="GenerateException" asp-action="Index">Display Friendly Error Message On Exception Example</a>
</div>

<hr />

<div>
    <h3>Identity(Signup, login, logout, role base authorization, change password, account block, email confirmation) Example</h3>
    <a asp-controller="IdentityEx" asp-action="Index">Identity(Signup, login, logout, role base authorization, change password, account block, email confirmation) Example</a>
</div>

<hr />

<div class="complete">
    <h3>Fetch Static File From "wwwroot" Folder And "TestStaticFiles" Folder Example</h3>
    <a asp-controller="StaticFileSample" asp-action="Index">Fetch Static File From "wwwroot" Folder And "TestStatic" Folder Example</a>
</div>

<hr />

<div class="complete">
    <h3>TagHelper Example</h3>
    <a asp-controller="TagHelperSample" asp-action="Index">TagHelper Example</a>
</div>

<hr />

<div class="complete">
    <h3>Partial View Example</h3>
    <a asp-controller="PartialViewSample" asp-action="Index">Partial View Example</a>
</div>

<hr />

<div class="complete">
    <h3>Read Configuration Value Example</h3>
    <a asp-controller="ConfigurationSample" asp-action="Index">Read Configuration Value Example</a>
</div>

<hr />

<div class="complete">
    <h3>Show The Loading Alert Message Example</h3>
    <a asp-controller="JavascriptJquery" asp-action="ShowLoading">Show The Loading Alert Message Example</a>
</div>

<hr />

<div class="complete">
    <h3>Pass List Of Object From Ajax To Controller Example</h3>
    <a asp-controller="JavascriptJquery" asp-action="PostListObject">Pass List Of Object From Ajax To Controller Example</a>
</div>

<hr />

<div>
    <h3>Save And Make Data Readonly Example</h3>
    <a asp-controller="JavascriptJquery" asp-action="SaveAndReadOnly">Save And Make Data Readonly Example</a>
</div>

<hr />

<div class="complete">
    <h3>Wait For Function To Finish In Javascript Example</h3>
    <a asp-controller="JavascriptJquery" asp-action="WaitFunction">Wait For Function To Finish In Javascript Example</a>
</div>

<hr />

<div class="complete">
    <h3>Filters Example</h3>
    <a asp-controller="FiltersSample" asp-action="Index">Filters Example</a>
</div>

<hr />

<div class="remaining">
    <h3>Dynamic Add Remove Input With Mutiple Checkboxes In The Form</h3>
    <a asp-controller="Form" asp-action="FormAddRemoveControls">Dynamic Add Remove Input With Mutiple Checkboxes In The Form</a>
</div>

<hr />

<div class="complete">
    <h3>Show Google Map And Markers Using Javascript Example</h3>
    <a asp-controller="JavascriptJquery" asp-action="ShowMap">Show Google Map And Markers Using Javascript Example</a>
</div>

<hr />

<div class="complete">
    <h3>Creating PDF Using Rotativa</h3>
    <a asp-controller="PDFSample" asp-action="Index">Creating PDF Using Rotativa</a>
</div>

<hr />

<div class="complete">
    <h3>Dropdown With Search Box Example</h3>
    <a asp-controller="JavascriptJquery" asp-action="SearchDropdown">Dropdown With Search Box Example</a>
</div>

<hr />

<div class="complete">
    <h3>Mail To Link Example</h3>
    <a asp-controller="Mail" asp-action="MailToLink">Mail To Link Example</a>
</div>

<hr />

<div class="complete">
    <h3>Submit Form Of Partial View Example</h3>
    <a asp-controller="PartialViewSample" asp-action="SubmitFormPartial">Submit Form Of Partial View Example</a>
</div>

<hr />

<div class="complete">
    <h3>Logging To File Using NLOG Example</h3>
    <a asp-controller="Logging" asp-action="Index">Logging To File Using NLOG Example</a>
</div>

<hr />

<div class="complete">
    <h3>Authentication With Session Example</h3>
    <a asp-controller="Session" asp-action="Index">Authentication With Session Example</a>
</div>

<hr />

<div class="complete">
    <h3>Import CSV File Data Example</h3>
    <a asp-controller="ImportFile" asp-action="ImportCSV">Import CSV File Data Example</a>
</div>

<hr />

<div class="complete">
    <h3>Get Model List On Script Example</h3>
    <a asp-controller="JavascriptJquery" asp-action="GetModelList">Get Model List On Script Example</a>
</div>

<hr />

<div class="complete">
    <h3>Upload Image In WWWRoot Folder Example</h3>
    <a asp-controller="Upload" asp-action="UploadImage">Upload Image In WWWRoot Folder Example</a>
</div>

<hr />

<div class="complete">
    <h4>Searching Sorting Paging Using Server Side Jquery Datatable Example</h4>
    <a asp-controller="DataTable" asp-action="ServerSideDT">Searching Sorting Paging Using Server Side Jquery Datatable Example</a>
</div>

<hr />

<div class="remaining">
    <h4>Multi Select Dropdown Example</h4>
    <a asp-controller="Form" asp-action="MultiSelect">Multi Select Dropdown Example</a>
</div>

<hr />

<div class="complete">
    <h4>Jquery Validator Validation If Name Of Input Tag Contain Dot Example</h4>
    <a asp-controller="JavascriptJquery" asp-action="DotInName">Jquery Validator Validation If Name Of Input Tag Contain Dot Example</a>
</div>

<hr />

<div class="complete">
    <h4>Log Error In File Example</h4>
    <a asp-controller="Logging" asp-action="LogErrInFile">Log Error In File Example</a>
</div>

<hr />

<div class="complete">
    <h4>Map Columns From DataTable To Properties Of A Model Class Example</h4>
    <a asp-controller="DataTable" asp-action="FillModelFromDataTable">Map Columns From DataTable To Properties Of A Model Class Example</a>
</div>

<hr />

<div class="complete">
    <h3>Download PDF Using Rotativa Example</h3>
    <a asp-controller="PDFSample" asp-action="DownloadPdf">Download PDF Using Rotativa Example</a>
</div>

<hr />

<div class="complete">
    <h3>Compress Image Example</h3>
    <a asp-controller="Upload" asp-action="CompressImage">Compress Image Example</a>
</div>

<hr />

<div class="complete">
    <h3>Warn User Before Leaving Web Page With Unsaved Changes Example</h3>
    <a asp-controller="JavascriptJquery" asp-action="WarnUserBeforeLeavingPage">Warn User Before Leaving Web Page With Unsaved Changes Example</a>
</div>

<hr />

<div class="complete">
    <h3>Cascading Example</h3>
    <a asp-controller="JavascriptJquery" asp-action="Cascading">Cascading Example</a>
</div>

<hr />

<div class="complete">
    <h3>Remove Server Side Validation For Specific Condition Example</h3>
    <a asp-controller="Form" asp-action="RemoveServerValidation">Remove Server Side Validation For Specific Condition Example</a>
</div>

<hr />

<div class="complete">
    <h3>Auto Complete Textbox Example</h3>
    <a asp-controller="JavascriptJquery" asp-action="AutoComplete">Auto Complete Textbox Example</a>
</div>

<hr />

<div class="complete">
    <h3>Call Action Method From API JS Example</h3>
    <a asp-controller="JavascriptJquery" asp-action="CallActionFromJsApi">Call Action Method From API JS Example</a>
</div>

<hr />

<div class="">
    <h3>List With Dropdown, Radio Buttons And Checkboxes Example</h3>
    <a asp-controller="Form" asp-action="ListWithMultiControls">List With Dropdown, Radio Buttons And Checkboxes Example</a>
</div>

<hr />

<div class="complete">
    <h3>Add Bootstrap Theme In Layout And View Example</h3>
    <a asp-controller="Theme" asp-action="Index">Add Bootstrap Theme In Layout And View Example</a>
</div>

<hr />

<div class="complete">
    <h3>Add Columns To The AspNetUsers Table In Identity Example</h3>
    <a asp-controller="IdentityEx" asp-action="AddColumnsToAspNetUsersTable">Add Columns To The AspNetUsers Table In Identity Example</a>
</div>

<br />
<div class="float-right">
    <a href="#" onclick="GoTo('TOP')">Go to top</a>
</div>
<br />
<br />

@section Scripts{
    <script>
        function GoTo(flag) {
            if (flag == "TOP") {
                // Scroll to the top of the page
                $("html, body").animate({ scrollTop: 0 }, "slow");
            }
            else if (flag == "BOTTOM") {
                // Get the height of the entire page
                var totalHeight = $(document).height();

                // Scroll to the bottom of the page
                $("html, body").animate({ scrollTop: totalHeight }, "slow");
            }
        }
    </script>
}
