@model RequestPasswordResetModel

@{
    ViewData["Title"] = "Request Password Reset";
    string email = this.ViewData["Email"] != null ? this.ViewData["Email"].ToString() : null;
}

@if (ViewBag.EmailNotAvailable != null) { 
    <h1>Your email is not registered.</h1>
}

@if (String.IsNullOrWhiteSpace(email))
{
    <form id="registration-box" class="card card-default" asp-controller="PasswordReset" asp-action="RequestPasswordReset" method="post">
        <div class="card-header">Request Password Reset</div>
        <div class="card-body">
            <div class="textbox">
                <label asp-for="Email">Email address</label>
                <input asp-for="Email" type="text" class="form-control" aria-describedby="emailHelp" placeholder="">
                <div>
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
            </div>
            <button type="submit" class="btn btn-primary">Send Password Reset Email</button>
        </div>
    </form>
}
else
{
    <div id="registration-box" class="card card-default">
        <div class="card-header">Request Password Reset</div>
        <div class="card-body">
            <div class="alert alert-primary" role="alert">
                Thank you! If an account exists for @email, we'll send an email with further instructions on how to reset your password.
            </div>
        </div>
    </div>
}

<a href="/PasswordReset/index">Go to Login page</a>
