@model ResetPasswordModel

@{
    ViewData["Title"] = "Reset Password";
    //Layout = "/Views/Shared/_MinimalLayout.cshtml";

    bool isSuccessful = this.ViewData["IsSuccessful"] != null ? (bool)this.ViewData["IsSuccessful"] : false;
}

@if (!isSuccessful)
{
    <form id="registration-box" class="card card-default" asp-controller="PasswordReset" asp-action="ResetPassword" method="post">
        <div class="card-header">Reset Password</div>
        <div class="card-body">
            <input asp-for="Token" type="hidden" />
            <div class="textbox">
                <label asp-for="Password">New Password</label>
                <input asp-for="Password" type="password" placeholder="" class="input-xlarge">
                <div>
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>
            </div>
            <div class="textbox">
                <label asp-for="PasswordConfirmation">New Password (Confirm)</label>
                <input asp-for="PasswordConfirmation" type="password" placeholder="" class="input-xlarge">
                <div>
                    <span asp-validation-for="PasswordConfirmation" class="text-danger"></span>
                </div>
            </div>
            <button class="btn btn-primary" type="submit">Reset Password</button>
        </div>
    </form>
}
else
{
    <div id="registration-box" class="card card-default">
        <div class="card-header">Request Password Reset</div>
        <div class="card-body">
            <div class="alert alert-primary" role="alert">
                Thank you! Your password has been successfully changed. You may now <a href="/PasswordReset/index">log in</a>.
            </div>
        </div>
    </div>
}