
@{
}

<a class="btn btn-primary" asp-controller="FiltersSample" asp-action="ReadAuth">Read action</a>
<hr/>
<a class="btn btn-primary" asp-controller="FiltersSample" asp-action="WriteAuth">Write action</a>
