
@{
}

<h3>Authorization filters example</h3>
<a asp-controller="FiltersSample" asp-action="CustAuthFilter">Authorization filters example</a>

<hr/>

<h3>Action filters example</h3>
<a asp-controller="FiltersSample" asp-action="CustActionFilter">Action filters example</a>

<hr />

<h3>Resource filters example</h3>
<a asp-controller="FiltersSample" asp-action="CustResourceFilter">Resource filters example</a>
