@model List<Learn_core_mvc.Core.Models.Company>

@{
}

<style>
    table, th, td {
        border: 1px solid black;
        border-collapse: collapse;
    }

    th, td {
        padding: 10px;
    }
</style>

<table>
    <tr>
        <th>Company Name</th>
        <th>Company Address</th>
        <th>Company Rating</th>
    </tr>
    @foreach (var cmp in Model)
    {
        <tr>
            <td>@cmp.CmpName</td>
            <td>@cmp.CmpAddress</td>
            <td>@cmp.CmpRating</td>
        </tr>
    }
</table>
