<html>
<head>
    <title>Table of Contents</title>
</head>
<body>
    <h1>Table of Contents</h1>
    <ul>
        <li><a href="#mainview">Section 1</a> - Page <span class="page-number">1</span></li>
        <li><a href="#partialview1">Section 2</a> - Page <span class="page-number">2</span></li>
        <li><a href="#partialview2">Section 3</a> - Page <span class="page-number">3</span></li>
        <!-- Add more TOC items with appropriate anchor links and page numbers -->
    </ul>
</body>
</html>