@model DownloadPdfModel

@{
    Layout = null;
}

<div class="row">
    <div class="col-md-12">
        <h5>This is a static content.</h5>
        <h5>@Model.Content</h5>
        <div>
            <img src="@Model.ImagePath" />
        </div>
    </div>
</div>
