
@{
}

<div class="row">
    <div class="col-md-12">
        <div id="mv1">
            <h1>Main view 1</h1><i class="fa fa-home" style="font-size:48px;color:red"></i>
            <p>This is main view 1 content.</p>
            <img src="~/images/Panda.jpg" width="100" height="100" />
        </div>
        <div class="breakhere"></div>
        <div id="mv1pv1" class="mt-3">
            <h3>Partial view 1</h3>
            <partial name="_ContentForPDFPV" />
        </div>
        <div class="breakhere"></div>
        <div id="mv1pv2" class="mt-3">
            <h3>Partial view 2</h3>
            <partial name="_ContentForPDFPV" />
        </div>

        <hr />

        <div class="breakhere"></div>
        <div id="mv2">
            <h1>Main view 2</h1>
            <p>This is main view 2 content.</p>
            <img src="~/images/Panda.jpg" width="100" height="100" />
        </div>
        <div class="breakhere"></div>
        <div id="mv2pv1" class="mt-3">
            <h3>Partial view 1</h3>
            <partial name="_ContentForPDFPV" />
        </div>
        <div class="breakhere"></div>
        <div id="mv2pv2" class="mt-3">
            <h3>Partial view 2</h3>
            <partial name="_ContentForPDFPV" />
        </div>
    </div>
</div>
<br />
<button class="btn btn-primary hideOnPdf" onclick="GeneratePdfOnClick()">Generate Pdf of this view</button>

@section Scripts{
    <script>
        function GeneratePdfOnClick() {
            var mainTagHtml = $("main").html();
            var dataToSend = { Html: mainTagHtml };

            $.ajax({
                url: "@Url.Action("StoreHtmlInSession", "PDFSample")",
                data: dataToSend,
                type: "POST",
                //contentType: "application/json; charset=utf-8",
                success: function (result) {
                    window.open(
                        '@Url.Action("PdfFromHtml", "PDFSample")',
                        '_blank'
                    );
                },
                error: function (xhr) {
                    alert("error");
                }
            });
        }
    </script>
}
