
@{
}

<button class="btn btn-primary" onclick="location.href=`@Url.Action("GeneratePDF","PDFSample")`">
    Generate PDF Example 1
</button>

<br/><br />

<button class="btn btn-primary" onclick="location.href=`@Url.Action("GeneratePDF2","PDFSample")`">
    Generate PDF Example 2
</button>
