
@{
    Layout = null;
}

<xsl:stylesheet version="1.0" xmlns:xsl="http://www.w3.org/1999/XSL/Transform">
    <xsl:output method="html" indent="yes" />
    <xsl:template match="/">
        <html>
        <head>
            <title>Table of Contents</title>
            <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
            <style type="text/css">
                .subSection {
                    margin-left: 10px;
                }
            </style>
        </head>
        <body>

        </body>
    </html>
</xsl:template>
</xsl:stylesheet>
