
@{
}

<div class="row mt-5">
    <div class="col-md-12 text-danger">
        <h4>Installed "FirebaseAdmin" package.</h4>
    </div>
</div>

<div class="row mt-5">
    <div class="col-md-12">
        <form asp-controller="PushNotification" asp-action="NewSendPushNotification" method="post">
            <button type="submit" class="btn btn-primary">Send Push Notification</button>
        </form>
    </div>
</div>
