
@{
}

<a asp-action="GetEmployees2" asp-controller="CallApiViaHttpClient" class="btn btn-primary">Call List Employee GET API</a>
<br />
<br />
<a asp-action="GetEmployee2" asp-controller="CallApiViaHttpClient" class="btn btn-primary">Call Single Employee GET API</a>
<br />
<br />
<a asp-action="CreateEmployee2" asp-controller="CallApiViaHttpClient" class="btn btn-primary">Call Single Employee POST API</a>
<br />
<br />
<a asp-action="UpdateEmployee2" asp-controller="CallApiViaHttpClient" class="btn btn-primary">Call Single Employee PUT API</a>
<br />
<br />
<a asp-action="DeleteEmployee2" asp-controller="CallApiViaHttpClient" class="btn btn-primary">Call Single Employee DELETE API</a>