
@{
}

<a asp-action="GetEmployees" asp-controller="CallApiViaHttpClient" class="btn btn-primary">Call List Employee GET API</a>
<br />
<br />
<a asp-action="GetEmployee" asp-controller="CallApiViaHttpClient" class="btn btn-primary">Call Single Employee GET API</a>
<br />
<br />
<a asp-action="CreateEmployee" asp-controller="CallApiViaHttpClient" class="btn btn-primary">Call Single Employee POST API</a>
<br />
<br />
<a asp-action="UpdateEmployee" asp-controller="CallApiViaHttpClient" class="btn btn-primary">Call Single Employee PUT API</a>
<br />
<br />
<a asp-action="DeleteEmployee" asp-controller="CallApiViaHttpClient" class="btn btn-primary">Call Single Employee DELETE API</a>