
@{

}

@if (User.Identity.IsAuthenticated)
{
    <h5>Logged in person email: @User.Identity.GetEmail()</h5>
    <h5>Logged in person role: @User.Identity.GetRole()</h5>
}
else
{
<h5>
    You are not able to get logged-in user email-id and role because in startup.cs file multiple Authentication Scheme
    like Cookie Authentication, Identity running together.
    You need to comment Identity code from startup.cs file.
</h5>
}


<span>go to User1 page</span>
<a asp-controller="ClaimBaseAuth" asp-action="User1">go to User1 page</a>

<br />

<span>go to User2 page</span>
<a asp-controller="ClaimBaseAuth" asp-action="User2">go to User2 page</a>

<br />

<button onclick="location.href='@Url.Action("LogOff", "ClaimBaseAuth")'">Log out</button>