@using Microsoft.AspNetCore.Identity
@{
    var users = ViewData["Users"] as List<IdentityUser>;
}

<h3>Hi</h3>

<h3>This is a authorized person page</h3>

<div class="row">
    <div class="col-md-12">
        <table class="table">
            <thead>
                <tr>
                    <th>UserName</th>
                    <th>Email</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var user in users)
                {
                    <tr>
                        <td>@user.UserName</td>
                        <td>@user.Email</td>
                        <td>
                            <a asp-controller="IdentityEx" asp-action="Impersonate" asp-route-userId="@user.Id" class="btn btn-sm btn-warning">Impersonate</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
