
@{
}

<h3>Implement Identity On Existing ASP.NET Project</h3>
<br />
<h6>Install the NuGet Packages:</h6>
<h6>Installed "Microsoft.AspNetCore.Identity" package from nuget</h6>
<h6>Installed "Microsoft.AspNetCore.Identity.EntityFrameworkCore" with version 3.1.0</h6>
<h6>Installed "Microsoft.EntityFrameworkCore.SqlServer" with version 3.1.0</h6>
<h6>Installed "Microsoft.EntityFrameworkCore.Tools" with version 3.1.0</h6>
<br />
<h6>Added "AppDbContext" class inside "Learn_core_mvc.IdentityDbContextFolder" folder</h6>
<h6>Added dbcontext with connectionstring in "ConfigureServices" method of "Startup.cs"</h6>
<h6>Added identity in "ConfigureServices" method of "Startup.cs"</h6>

<hr />

<a asp-controller="IdentityEx" asp-action="Signup">Signup User Using Identity</a>

<br /><br />

<a asp-controller="IdentityEx" asp-action="Login">Login User Using Identity</a>
