
@{
}

<div class="row mt-5 text-danger">
    <div class="col-md-12">
        <h4>Installed "dotnetCHARGE" package.</h4>
    </div>
</div>

<div class="row mt-5">
    <div class="col-md-12">
        <form asp-controller="Payment" asp-action="DotnetCharge" method="post">
            <button type="submit" class="btn btn-primary">Checkout</button>
        </form>
    </div>
</div>
