
@{
}

<div class="row">
    <div class="col-3">Sender</div>
    <div class="col-4"><input type="text" value="@User.Identity.Name" id="senderEmail" /></div>
</div>
<div class="row">
    <div class="col-3">Receiver</div>
    <div class="col-4"><input type="text" id="receiverEmail" /></div>
</div>
<div class="row">
    <div class="col-3">Message</div>
    <div class="col-4"><input type="text" id="chatMessage" /></div>
</div>
<div class="row">&nbsp;</div>
<div class="row">
    <div class="col-6">
        <input type="button" id="sendMessage" value="Send Message" />
    </div>
</div>
<div class="row">
    <div class="col-12">
        <hr />
    </div>
</div>
<div class="row">
    <div class="col-6">
        <ul id="messagesList"></ul>
    </div>
</div>

@section Scripts{
    <script src="~/js/signalr.js"></script>
    <script>

        var connectionChat = new signalR.HubConnectionBuilder().withUrl("/hubs/basicchat").build();

        document.getElementById("sendMessage").disabled = true;

        connectionChat.on("MessageReceived", function (user, message) {
            var li = document.createElement("li");
            document.getElementById("messagesList").appendChild(li);
            li.textContent = `${user} - ${message}`;
        });

        document.getElementById("sendMessage").addEventListener("click", function (event) {
            var sender = document.getElementById("senderEmail").value;
            var message = document.getElementById("chatMessage").value;
            var receiver = document.getElementById("receiverEmail").value;

            if (receiver.length > 0) {
                connectionChat.send("SendMessageToReceiver", sender, receiver, message);
            }
            else {
                //send message to all of the users
                connectionChat.send("SendMessageToAll", sender, message).catch(function (err) {
                    return console.error(err.toString());
                });
            }
            event.preventDefault();
        })

        connectionChat.start().then(function () {
            document.getElementById("sendMessage").disabled = false;
        });

    </script>
}

