@{ }

<h6>Used Partial Tag In The View</h6>
<a asp-controller="PartialViewSample" asp-action="PartialTagInView">Used Partial Tag In The View</a>

<br />
<hr />

<h6>Return Partial View From Controller</h6>
<a asp-controller="PartialViewSample" asp-action="ReturnPartialView">Return Partial View From Controller</a>

<br />
<hr />

<h6>Pass Data From Outer Partial View To Inner Partial View</h6>
<a asp-controller="PartialViewSample" asp-action="PartialViewExample3">Pass Data From Outer Partial View To Inner Partial View</a>

<br />
<hr />

<h6>Call Ation Method From View That Returns Partial View</h6>
<a asp-controller="PartialViewSample" asp-action="PartialViewExample4">Call Ation Method From View That Returns Partial View</a>