@model SubmitFormPartialVM

@{
}

<div>
    <h3>Main view content</h3>
</div>
<br />

<h3>Partial view content</h3>
<div id="dvPartial">
    <partial name="_SubmitFormPV" model="Model.SubmitFormPVVM" />
</div>


@section Scripts{
    
    <script>
        function partialFormSubmit() {
            //var form = $('#myForm');
            var formData = $("#myForm").serialize();
            //var token = $('input[name="__RequestVerificationToken"]', form).val();

            $.ajax({
                url: "@Url.Action("MyParialForm", "PartialViewSample")",
                type: "POST",
                data: formData,
                success: function (response) {
                    if (response.success) {
                        //$("#myForm")[0].reset();
                        alert("Form is submitted...");
                        $("#dvPartial").load(`@Url.Action("MyParialForm", "PartialViewSample")`, function () { });
                    }
                    else {
                        $("#dvPartial").empty().html(response);
                    }
                },
                error: function () {
                    alert('An error occurred.');
                }
            });
        }
    </script>
}
