
@{
}

<h3>Read Configuration Value By IConfiguration</h3>
<a asp-controller="ConfigurationSample" asp-action="Index2">Read Configuration Value By IConfiguration</a>

<hr />

<h3>Read Configuration Value By IConfiguration From View</h3>
<a asp-controller="ConfigurationSample" asp-action="Index3">Read Configuration Value By IConfiguration From View</a>

<hr />

<h3>Read Configuration Value Using GetValue Method</h3>
<a asp-controller="ConfigurationSample" asp-action="Index4">Read Configuration Value Using GetValue Method</a>

<hr />

<h3>Read Configuration Value Using Bind Method</h3>
<a asp-controller="ConfigurationSample" asp-action="Index5">Read Configuration Value Using Bind Method</a>

<hr />

<h3>Read Configuration Value Using Option Pattern</h3>
<a asp-controller="ConfigurationSample" asp-action="Index6">Read Configuration Value Using Option Pattern</a>
