
@{
}

<h3>Single, SingleOrDefault, First, FirstOrDefault In Linq Example</h3>
<a asp-controller="LinqEx" asp-action="FirstFirstOrDefaultSingleSingleOrDefault">Single, SingleOrDefault, First, FirstOrDefault In Linq Example</a>

<hr />

<h3>Inner Join In Linq Example</h3>
<a asp-controller="LinqEx" asp-action="InnerJoin">Inner Join In Linq Example</a>

<hr />

<h3>Left Join In Linq Example</h3>
<a asp-controller="LinqEx" asp-action="LeftJoin">Left Join In Linq Example</a>

<hr />

<h3>Group Join In Linq Example</h3>
<a asp-controller="LinqEx" asp-action="GroupJoin">Group Join In Linq Example</a>