
@{
}

<div class="complete">
    <h3>Single, SingleOrDefault, First, FirstOrDefault In Linq Example</h3>
    <a asp-controller="LinqEx" asp-action="FirstFirstOrDefaultSingleSingleOrDefault">Single, SingleOrDefault, First, FirstOrDefault In Linq Example</a>
</div>

<hr />

<div class="complete">
    <h3>Select, SelectMany In Linq Example</h3>
    <a asp-controller="LinqEx" asp-action="SelectSelectMany">Select, SelectMany In Linq Example</a>
</div>

<hr />

<div class="complete">
    <h3>Group By Multiple Keys In Linq Example</h3>
    <a asp-controller="LinqEx" asp-action="GroupByMultipleKeys">Group By Multiple Keys In Linq Example</a>
</div>

<hr />

<div class="complete">
    <h3>Group By In Linq Example 2</h3>
    <a asp-controller="LinqEx" asp-action="GroupBy2">Group By In Linq Example 2</a>
</div>

<hr />

<div class="complete">
    <h3>Inner Join In Linq Example</h3>
    <a asp-controller="LinqEx" asp-action="InnerJoin">Inner Join In Linq Example</a>
</div>

<hr />

<div class="complete">
    <h3>Inner Join On Multiple Table In Linq Example</h3>
    <a asp-controller="LinqEx" asp-action="InnerJoinOnMultipleTable">Inner Join On Multiple Table In Linq Example</a>
</div>

<hr />

<div class="complete">
    <h3>Left Join In Linq Example</h3>
    <a asp-controller="LinqEx" asp-action="LeftJoin">Left Join In Linq Example</a>
</div>

<hr />

<div class="complete">
    <h3>Group Join In Linq Example</h3>
    <a asp-controller="LinqEx" asp-action="GroupJoin">Group Join In Linq Example</a>
</div>

<hr />

<div class="complete">
    <h3>Get Distinct Records For Complex Type In Linq</h3>
    <a asp-controller="LinqEx" asp-action="DistinctRecForCmplxType">Get Distinct Records For Complex Type In Linq</a>
</div>

<hr />

<div class="complete">
    <h3>Sorting Of Data Example</h3>
    <a asp-controller="LinqEx" asp-action="SortingData">Sorting Of Data Example</a>
</div>

<hr />

<div class="complete">
    <h3>Paging Of Data Example</h3>
    <a asp-controller="LinqEx" asp-action="PagingData">Paging Of Data Example</a>
</div>

<hr/>

<div class="complete">
    <h3>All And Any In Linq Example</h3>
    <a asp-controller="LinqEx" asp-action="AllAny">All And Any In Linq Example</a>
</div>