
@{
}

<div class="row">
    <div class="col-md-12">
        <span>Put registration ID:</span>
        <input type="text" id="registrationId" value="bb8399f6-b3ee-4ee4-a9d9-7b2b7d199c65" class="form-control" />
        <button onclick="funGetRegStatements()" class="btn btn-primary mt-2">Get registration statements</button>
    </div>
</div>

@section Scripts{

    <script src="~/js/xapiwrapper.min.js"></script>
    <script>
        var statementArray = [];
        var moreData = "";

        function funGetRegStatements() {
            var registrationId = $("#registrationId").val();

            var conf = {
                "endpoint": "https://www.lrsendpoint.com/xapihelloworld/xAPI/",
                "auth": `Basic a29tdWZlOmFtY29wZw==`
            };
            ADL.XAPIWrapper.changeConfig(conf);
            var query = {
                "registration": registrationId,
                "limit": 10
            };
            retrieveStatements(query);
            alert(JSON.stringify(statementArray));
        }

        function retrieveStatements(query, moreUrl = "") {
            var queryData = ADL.XAPIWrapper.getStatements(query, moreUrl);

            var statements = queryData.statements;
            statements.forEach(function (item) {
                statementArray.push(item);
            });

            if (queryData.more && queryData.more !== "") {
                var moreUrl = "/xapihelloworld" + queryData.more;
                retrieveStatements(query, moreUrl);
            }
        }
    </script>
}
