@model SessionVM

@{
}

<p> Do login with following credentials : email=user@gmail.com, password=1234 </p>
<p> Do login with following credentials : email=admin@gmail.com, password=4567 </p>

<form asp-controller="Session" asp-action="Index" method="post">
    <label>User Email</label>
    <input asp-for="@Model.SessionLoginModel.UserEmail" />
    <span class="text-danger" asp-validation-for="@Model.SessionLoginModel.UserEmail"></span>
    <br />

    <label>User Password</label>
    <input asp-for="@Model.SessionLoginModel.UserPassword" />
    <span class="text-danger" asp-validation-for="@Model.SessionLoginModel.UserPassword"></span>
    <br />

    <button type="submit">Sign in</button>
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
</form>

@section Scripts{
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
}
