@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor HttpContextAccessor

@{
}

@if (HttpContextAccessor.HttpContext.Session.GetString("UserName") != null)
{
    <button class="btn btn-primary" onclick="window.location.href = `@Url.Action("Logout","Session")`">Sign out</button>
    <br />
}

<span style="color:red;">Note: Session timeout value is 10 seconds</span>

<h1>This is a restricted page.</h1>
