@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor HttpContextAccessor

@{
}

@if (HttpContextAccessor.HttpContext.Session.GetString("UserName") != null)
{
    <button class="btn btn-primary" onclick="window.location.href = `@Url.Action("Logout","Session")`">Sign out</button>
    <br />
}

<p style="color:red;">Note: If you want to clear session after specific time then you need to uncomment below code from startup.cs file</p>
<pre style="color:red;">
    services.AddSession(options =&gt;
    {
        options.IdleTimeout = TimeSpan.FromSeconds(10); // Set your session timeout value
        options.Cookie.HttpOnly = true;
        options.Cookie.IsEssential = true;
    });

    This code was commented due to sale timer functionality
</pre>

<h1>This is a restricted page.</h1>
